.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: black;
  position: relative;
}

h1 {
  margin: 30px auto;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}
#btn{
  padding: 10px 30px;
  color: #4ECCA3;
  font-weight: bold;
  font-size: 17px;
  font-family: 'Indie Flower', cursive;
  outline: none;
  cursor: pointer;
}
#btn:hover{
  background: #4ECCA3;
  color: white;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

@media screen and (max-width: 1200px) {
  #btn{
    left: 46%;
    top: 45%;
  }
  h1{
    font-size: 6rem;
  }
}

@media screen and (max-width: 900px) {
  #btn{
    left: 46%;
    top: 20%;
  }
  h1{
    font-size: 6rem;
  }
}